body{
    background-color: #212121;
}

fieldset {
  background-color: #535353;
  border: none;
  border-radius: 25px;
}

select{
  margin: 15px auto;
}

#title,label, legend, p{
    color: white
}
#title{
    font-family: "Arial Black", Arial, sans-serif;
    text-align: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

p{
    text-align: center;
}
.gray-input {
  background-color: #535353;
  border: 2px solid #1db954;
  color: white;
}

form {
  background-color: #535353;
  width: 90%;
  max-width: 420px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 30px;
}


input[type="submit"] {
  display: block;
  width: 130px;
  margin: 1em auto;
  height: 1.8em;
  font-size: 1rem;
  background-color: #1db954;
  border: 1px solid #1db954;
  color: white;
  border-radius: 16px;
}
fieldset label:has(input[type="radio"]),
fieldset label:has(input[type="checkbox"]) {
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
}


input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea{
    margin: 25px auto;
    width: 80%;
    display: block;

}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 8px;
  accent-color: #1db954;
}
 hr{
  height: 3px;
  background-color: #1db954;
  border: none;
  border-radius: 10px;
 }
 form {
  transform: scale(0.8);
  transform-origin: top center;
}
