body{
    background-color: #212121;
}
fieldset{
    background-color: #535353;
    border: 5px solid #535353;
    border-radius: 25px;
    padding: 20px;
    margin: 20px 0;
}
#title,label, legend, p{
    color: white
}
#title{
    font-family: "Arial Black", Arial, sans-serif;
    text-align: center;
}
label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

p{
    text-align: center;
}
.gray-input {
  background-color: #535353;
  border: 2px solid #1db954;
  color: white;
}


form {
  background-color: transparent;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

input[type="submit"] {
  display: block;
  width: 130px;
  margin: 1em auto;
  height: 1.8em;
  font-size: 1rem;
  background-color: #1db954;
  border: 1px solid #1db954;
  color: white;
  border-radius: 16px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  box-sizing: border-box;
}

textarea{
    margin: auto;
    width: 80%;
    display: block;

}